body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f0f0f0;
}

.main {
    height: 200px;
    background-color: rgb(27, 27, 198);
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 120px;
}

.scroll-wrapper {
    display: flex;
    width: max-content;
    animation: scroll-left 20s linear infinite;
}

.box {
    width: 220px;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.box img {
    width: 30%;
}

.box h3 {
    padding-left: 10px;
    font-size: 2rem;
    color: #333;
}

.heading {
    padding: 0 20px;
    text-align: left;
    color: white;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}