/* Global Styles */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #e0eafc, #cfdef3);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: black;
}

label span {
    color: red;
}

.form-container {
    background: rgba(255, 255, 255, 0.716);
    /* Changed from gray to white-ish */
    backdrop-filter: blur(5px);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1300px;
    border: 1px solid rgba(255, 255, 255, 0.716);
}

.form-container h2 {
    color: black;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    grid-column: span 1;
}

.form-group.full-width {
    grid-column: span 3;
}

.form-group.double-width {
    grid-column: span 2;
}

input,
select,
textarea {
    padding: 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.95);
    outline: none;
    width: 100%;
}

.form-group label {
    color: black;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1rem;
}

.gender-options {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    color: white;
    font-weight: 500;
}

.gender-options label {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.address-wide {
    grid-column: span 2;
}


.btn-group {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.img-group {
    grid-column: span 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.image-preview {
    width: 220px;
    height: 220px;
    display: flex;
    border-radius: 50%;
    border: 2px solid #ccc;
    object-fit: cover;
    background-color: #f9f9f9;
    margin: auto;
}

button {
    padding: 15px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
    min-width: 140px;
}

button:hover {
    background: #0056b3;
}

.error {
    color: red;
    font-size: 0.85rem;
    margin-top: 4px;
}

@media (max-width: 768px) {
    form {
        grid-template-columns: repeat(1, 1fr);
    }

    .btn-group {
        flex-direction: column;
    }
}